<%= simple_form_for([@blog, @blog.comments.build]) do |form| %>
    <form>  
        <div class="mb-3">
            <%= form.label :name, style: "display: block" %>
            <%= form.text_field :name, class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :Addcomment, style: "display: block" %>
            <%= form.text_field :content, class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= form.submit %>
        </div>
    </form>
<% end %>